/*
# NAME: roboto web font
# AUTHER: google font
# DATE: 01-2018
*/
@font-face {
    font-family: 'Roboto';
    src: url('../font/roboto/Roboto-Regular.woff2') format('woff2'),
        url('../font/roboto/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../font/roboto/Roboto-Bold.woff2') format('woff2'),
        url('../font/roboto/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../font/roboto/Roboto-Medium.woff2') format('woff2'),
        url('../font/roboto/Roboto-Medium.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../font/roboto/Roboto-Light.woff2') format('woff2'),
        url('../font/roboto/Roboto-Light.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../font/roboto/Roboto-Thin.woff2') format('woff2'),
        url('../font/roboto/Roboto-Thin.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
